<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>415434136930-ovsqkqalndddudsrm1g46q98hin3bk2o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.415434136930-ovsqkqalndddudsrm1g46q98hin3bk2o</string>
	<key>API_KEY</key>
	<string>AIzaSyA8jJ-EBAWHxUtoRhYVk49yMnz3pfqiueU</string>
	<key>GCM_SENDER_ID</key>
	<string>415434136930</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterHackathon</string>
	<key>PROJECT_ID</key>
	<string>reflactions</string>
	<key>STORAGE_BUCKET</key>
	<string>reflactions.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:415434136930:ios:784b9940dbfcd8497ca03b</string>
	<key>DATABASE_URL</key>
	<string>https://reflactions-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>